
<div class = "d-flex align-items-center justify-content-center">
    <h1>ارحبوا في جدولة </h1>
    <h1>Welcome to Jadwlh </h1>

   
</div >

<%= button_to "اربط حسابك في تويتر", "/auth/twitter", method: :post, class: "btn btn-primary"%>
