
<div class = "d-flex align-items-center justify-content-center">
    <h1>ارحبوا في جدولها </h1>
    <h1>Arhbo to Jawadlha </h1>

   
</div >

<%= button_to "Connect Twitter اربط حسابك", "/auth/twitter", method: :post, class: "btn btn-primary"%>